/* Body */

.background{
    background-color: #f5f7fa;
}



/* Header design  */

.header{
    background-image: url(../images/Hero-bg.png);
    
}


.nav{
    display: flex;
    justify-content: space-around;
    padding-top: 100px;
}

.nav-h2{
    color: rgba(78, 71, 255, 1);
    font-size: 34px;
    font-weight: bold;
}
.nav-btn{
    padding: 5px;
    border: none;
    border-radius: 5px;
}

.header-div{

    text-align: center;
    padding: 2px 267.5px 152px 267.5px;
    margin-top: 158px;
}

.header-div-btn{
    padding: 5px;
    border: none;
    border-radius: 5px;

}



/* main part start here */


.main{
    max-width: 1440px;
    margin: 0 auto;
    margin-top: 130px;
    margin-bottom: 130px;
    background-color: #f5f7fa;
}

.section-main{
    display: flex;
    justify-content: space-around;
    margin-top: 116px;
    border: none;
    margin-right: 160px;
    margin-left: 140px;
    gap: 220px;
    

}

.s-d-head{
    font-size: 42px;
}
.s-d-p{
    font-size: 24px;
}

.m-s-div{
    margin-top: 62px;
    margin-bottom: 62px;
    
}

.m-s-d-img{
    border: none;
    border-radius: 35px;
}

/* User Details */

.s-d-head-user{
    text-align: center;
}

.user-section{

    margin-top: 116px;
    margin-right: 160px;
    margin-left: 140px;

    

}
.user-div-main{
    padding: 50px 142px 50px 142px;
    
    background-color: rgba(78, 71, 255, 0.1);
    border: none;
    border-radius: 15px;

    
}

.user-div{
    display: flex;
    justify-content: space-around;
    gap: 158px;
    margin-top: 40px;
}



/* Customer review section */

.cus-rev-header{
    text-align: center;
}

.cus-rev-sec{
    display: flex;
    justify-content: space-around;
    margin-right: 160px;
    margin-left: 140px;
    margin-top: 50px;
    gap: 20px;
    border: none;
    border-radius: 5px;
}

.cus-rev-head{
    text-align: center;
    margin-top: 137px;

}



